<div class = "ui stackable grid">
  <div class = "six wide center aligned column">
    <br>
    <br>
    <br>
    <img class="ui medium centered circular image" src="images/profile2_final.jpeg">
    <h2 class="ui inverted grey header">
      <div class="content">
        Simon Roth
        <div class="sub header">
          Computational Social Scientist
        </div>
      </div>
    </h2>
    <div align="center">
      <a href="https://twitter.com/systatz" target="_blank" rel="nofollow" class = "ui circular twitter icon button">
        <i class="twitter icon"></i>
      </a>
      <a href="https://github.com/systats" target="_blank" rel="nofollow" class = "ui circular github icon button">
        <i class="github icon"></i>
      </a>
      <a href="mailto:sy-ro[at]gmx[dot]net" target="_blank" rel="nofollow" class = "ui circular mail icon button">
        <i class="mail icon"></i>
      </a>
    </div>
  </div>
  <div class = "middle aligned ten wide column">
    <p>
    I am a first year PhD student at the Graduate School of Decision Sciences (GSDS) from the University of Konstanz. My research interests include political extremism, bibliometrics and machine learning. Additionally, I am working as a junior data scientist at Paraboost and Lovai. My last projects were build upon methods from natural language processing, machine learning and web development. Every day I use R, occasionally blog about it and organize from time to time workshops. For more information please check out my <a href = "/cv">CV</a>. 
    <br>
    <br>
    </p>
  </div>
</div>