<a class="item" href="/">
  <i class="large home icon"></i>
  Home
</a>
<a class="item" href="/categories/">Categories</a>
<a class="item" href="/tags/">Tags</a>
<!--- web dev dropdown menu--->
<div class="ui dropdown item">
  <i class="code icon"></i>
  Web Developement
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item">
      Shiny Apps 
      <img class = "ui top aligned right floated image" src="http://hexb.in/hexagons/shiny.png">
    </div>
    <a class="item" href="/semanticui/">
      Semantic UI
      <img class = "ui tiny right floated middle aligned image" src="https://semantic-ui.com/images/logo.png">
    </a>
  </div>
</div>
<a class="right item" href="/about/">About</a>