<!---a class="item" href="/">
 <i class="large home icon"></i>
  Start
</a>
 web dev dropdown menu
 <div class="ui dropdown item">
  <img class = "ui avatar image" src="http://hexb.in/hexagons/shiny.png">
    Shiny Apps
  Portfolio
  <i class="dropdown icon"></i>
  <div class="menu">
    <a class="item", href="/sentiment/">
      <div class="content">
        <h5 class="ui icon header">
          <i class="green smile icon"></i>
          Sentiment Neuron
        </h5>
      </div>
    </a>
  </div>
</div>-
<div class="right compact menu">
  <div class="ui dropdown item">
    Blog
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/categories/">
        <i class="tag icon"></i>  
        Categories
      </a>
      <a class="item" href="/tags/">
        <i class="tags icon"></i>  
        Tags
      </a>
    </div>
  </div>
  <a class="item" href="/about/">
    About
  </a>
<a class="item" href="/about/">About</a>
</div>--->

<!--<div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a class="active item">Home</a><a class="item">Work</a><a class="item">Company</a><a class="item">Careers</a>
        <div class="right menu">
          <div class="item">
            <a class="ui button">Log in</a>
          </div>
          <div class="item">
            <a class="ui primary button">Sign Up</a>
          </div>
        </div>
      </div>
</div>
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a><a class="item">Work</a><a class="item">Company</a><a class="item">Careers</a><a class="item">Login</a><a class="item">Signup</a>
</div>-->


<a class="item" href="/">
  Home
</a>
<a class="item" href="/cv/">
  CV
</a>

<!--<div class="right item">
  <a class="ui inverted button">Log in</a><a class="ui inverted button">Sign Up</a>
</div>-->



