{{ partial "header.html" . }}

{{ .Content }}


<div id="bloglist" class = "ui text container">
  <h1 class = "ui header">
    Recent Posts
  </h1>
  <!--- blog posts <divided>---->
  <div class="ui items">
    {{ range (where .Data.Pages "Section" "!=" "") }}
    <a class="item" href="{{ .URL }}">
      <div class = "content">
        <h2 class="ui header">
        	{{ .Title }}
        </h2>
        <div class = "meta">
    		  {{ .Date.Format "2006-01-02" }} 
    		  {{range .Params.tags}}
            <div class="ui horizontal label">
              <i class="tag icon"></i> 
              {{ . }}
            </div>
      		{{end}}
        </div>
        {{ if .Params.header.image }}
          {{ if .Params.header.img_source }}
            <img src="{{ .Params.header.image }}" class="ui image">
          {{ else }}
            <img src='{{ "/img/" | relURL }}{{ .Params.header.image }}' class="ui image">
          {{ end }}
        {{ else }}
        {{ end }}
        <div class="description" style = "color:#A0A0A0;">
          {{.Description}}
          ... ({{.ReadingTime}} min read)
        </div>
      </div>
    </a>
    {{ end }}
  </div>
  <!--- END OF BLOG List ---->
</div>


{{ partial "footer.html" . }}