{{ partial "header.html" . }}


<div class = "ui text container">
  {{ if .Params.header.image }}
    {{ if .Params.header.img_source }}
      <img src="{{ .Params.header.image }}" class="ui centered image">
    {{ else }}
      <img src='{{ "/img/" | relURL }}{{ .Params.header.image }}' class="ui centered image">
    {{ end }}
  {{ else }}
  
  {{ end }}
  
  <br>  
  
  <h1 class="ui header">{{ .Title }}</h1>
  {{ with .Params.author }}
    <h2 class="author">{{ . }}</h2>
  {{ end }}
  {{ if (gt .Params.date 0) }}
    <h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>
  {{ end }}
  
  {{ .Content }}

</div>


  
{{ partial "footer.html" . }}