{{ partial "header.html" . }}

<!---<h1>{{ .Title }}</h1>--->
  <div class="ui inverted vertical center aligned segment">
    <br>
    <br>
    <div class="ui text container">
      <h2>{{ .Title }}</h2>
      <br>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!---page grid--->
  <div class="ui grid">
    <div class="row">
      <div class="two wide column"></div>
      <div class="twelve wide column">

        <!-- keyword list -->
        <div class="ui large relaxed list">
          {{ range $key, $value := .Data.Terms }}
          <div class="item">
            <a href="{{ (print "/" $.Data.Plural "/" $key | urlize) | relURL }}">
              <div class="ui right labeled button" tabindex="0">
                <div class="ui inverted blue button">
                  {{ $key }}
                </div>
                <div class="ui basic black left pointing label">
                  <i class="tags icon"></i> 
                  {{ len $value }}
                </div>
              </div>
            </a>
          </div>
          {{ end }}
        </div>
        <br>
        <br>
        <br>
        <!---<ul class="terms">
          {{ range $key, $value := .Data.Terms }}
          <li>
            <a href="{{ (print "/" $.Data.Plural "/" $key | urlize) | relURL }}">
              {{ $key }}
            </a>
            ({{ len $value }})
          </li>
          {{ end }}
        </ul>--->
  <!-- end grid -->
      </div>
      <div class="two wide column"></div>
    </div>
  </div>
{{ partial "footer.html" . }}
