blockquote {
  font-style: italic
}

/*https://stackoverflow.com/questions/16118747/bootstrap-navbar-margin*/
.navbar{
  margin-left:-200px;
  margin-right:-20px;
}

.navbar-inner{
  padding-left:0;
  padding-right:0;
} 


body .main-container {
  max-width: 50%;
}

body { /* Normal  */
  font-size: 16px;
}

td {  /* Table  */
  font-size: 8px;
}

h1.title {
  font-size: 28px;
  color: black;
}

h1 { /* Header 1 */
  font-size: 28px;
  color: black;
}

h2 { /* Header 2*/
  font-size: 28px;
  color: #48D1CC;
}

code.r { /* Code block */
    font-size: 14px;
    padding: 10px;
    border: 0;
}

pre {
  color: #444;
  padding: 10px;
  background: #eee;
  border: 0;
  word-wrap: normal;
  white-space: pre-wrap;
  overflow: auto;
}


.table th:not([align]) {
  text-align: left;
  font-size: 14;
}

.navbar-brand {
    width: 100%;
    left: 0;
    margin-left: 1px;
}