<a class="item" href="/">
  <i class="large home icon"></i>
  Home
</a>
<!--- web dev dropdown menu---->
<div class="ui dropdown item">
  <i class="code icon"></i>
  Web Developement
  <i class="dropdown icon"></i>
  <div class="menu">
    <a class="item">
      <img class = "ui top aligned right floated image" src="http://hexb.in/hexagons/shiny.png">
      <div class="content">
        <h5 class="ui header">
          Shiny Apps
          <div class="gray sub header">Web Applicationin R</div>
        </h5>
      </div>
    </a>
    <a class="item" href="/semanticui/">
      <img class = "ui tiny right floated middle aligned image" src="https://semantic-ui.com/images/logo.png">
      <div class="content">
        <h5 class="ui header">
          Semantic UI
          <div class="gray sub header">Beautiful Web</div>
        </h5>
      </div>
    </a>
  </div>
</div>
<div class="right compact menu">
  <a class="item" href="/teaching/">
    <i class="graduation icon"></i>
    Teaching
  </a>
  <div class="ui dropdown item">
    <i class="archive icon"></i>
    Blog Archive
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/categories/">
        <i class="tag icon"></i>  
        Categories
      </a>
      <a class="item" href="/tags/">
        <i class="tags icon"></i>  
        Tags
      </a>
    </div>
  </div>
  <a class="item" href="/about/">About</a>
</div>






